html,body {
	margin:0;
	padding:0;

}
.navbar-default {
    background-color:black ;
    border-color: #ddd;
    
}
.navbar-header{font-weight: bold;}

li{font-weight: bold;}

body{
	background-color: black;
}

a:link, a:visited {
		text-decoration: none;
		font-family: sans-serif;
		color: white;
	}


a:hover {
		color: #ddd;
}

	
